{% extends "classnest_Base/base_generic.html" %}
{% block title %}Create Discussion{% endblock %}

{% block content %}
<div class="create-discussion-container">
  <h1>Create Discussion for {{ course.title }}</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">
      <i class="fa-solid fa-circle-plus"></i>&nbsp;Create Discussion
   </button>
   <a href="{% url 'discussions' %}" class="btn btn-secondary">Cancel</a>   
  </form>
</div>
{% endblock %}
