{% extends "classnest_Base/base_generic.html" %}
{% load static %}
{% block title %}Dashboard{% endblock %}

{% block content %}

  <!-- Main Dashboard Container -->
  <div class="dashboard-container">
    <!-- Welcome Section -->
    <div class="welcome-section">
      <h1 class="title"><i class="fa-solid fa-door-open"></i>&nbsp;Welcome, {{ request.user.username }}!</h1>
      {% if is_instructor %}
        <p class="subtitle">Here are the courses you have created.</p>
      {% else %}
        <p class="subtitle">Here's an overview of your enrolled courses.</p>
      {% endif %}
    </div>

    <!-- Courses Section -->
    <div class="courses-section">
      {% if is_instructor %}
        <h2 class="section-title">Your Created Courses</h2>
        {% if instructed_courses %}
          <div class="courses-grid">
            {% for course in instructed_courses %}
              <div class="course-card">
                <img src="{{ course.thumbnail.url }}" alt="{{ course.title }} Thumbnail" class="course-thumbnail">
                <div class="course-details">
                  <a href="{% url 'course-detail' course.id %}" class="course-link"><h3 >{{ course.title }}</h3></a>
                </div>
              </div>
            {% endfor %}
          </div>
        {% else %}
          <p class="empty-message">You haven't created any courses yet.</p>
        {% endif %}
      {% else %}
        <h2 class="section-title">Enrolled Courses</h2>
        {% if enrolled_courses %}
          <div class="courses-grid">
            {% for course in enrolled_courses %}
              <div class="course-card">
                <img src="{{ course.thumbnail.url }}" alt="{{ course.title }} Thumbnail" class="course-thumbnail">
                <div class="course-details">
                  <a href="{% url 'course-detail' course.id %}" class="course-link"><h3>{{ course.title }}</h3></a>
                  <p class="course-instructor">Instructor: {{ course.instructor.username }}</p>
                  </div>
              </div>
            {% endfor %}
          </div>
        {% else %}
          <p class="empty-message">You are not enrolled in any courses yet.</p>
        {% endif %}
      {% endif %}
    </div>
  </div>

  <script src="{% static 'classnest_Base/js/dashboard_script.js' %}"></script>

{% endblock %}