{% extends "classnest_Base/base_generic.html" %}
{% block title %}Enrolled Students{% endblock %}

{% block content %}
<div class="enrolled-students-container">
  <h1><i class="fa-solid fa-user-group"></i>&nbsp;Enrolled Students for {{ course.title }}</h1>
  <ul>
    {% for student in students %}
      <li>
        <a href="{% url 'user-profile' student.id %}">
          {{ student.username }}
        </a>
      </li>
    {% empty %}
      <p>No students enrolled yet.</p>
    {% endfor %}
  </ul>
</div>
{% endblock %}
