{% extends "classnest_Base/base_generic.html" %}
{% load static %}
{% block title %} Inbox Detail {% endblock %}

{% block content %}

  <main class="container">
    <div class="discussions-header">
      <h2>{{ message.subject }}</h2>
      <div class="discussion-body">
        <p><strong>To:</strong> {{ message.to }}</p>
        <p><strong>Sent On:</strong> {{ message.created_at|date:"M d, Y H:i" }}</p>
      </div>
    </div>
    
    <div class="discussion-body">
      <p>{{ message.message }}</p>
    </div>
    
    <div class="discussion-actions">
      <a href="{% url 'inbox' %}" class="back-btn">Back to Inbox</a>
    </div>
  </main>

{% endblock %}