{% load custom_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}ClassNest{% endblock %}</title>
  
  <link rel="stylesheet" href="{% static 'classnest_Base/css/base_generic.css' %}">
  <link rel="stylesheet" href="{% static 'classnest_Base/css/login.css' %}">
  <link rel="stylesheet" href="{% static 'classnest_Base/css/register.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header class="navbar">
        <div class="navbar-container">
          <a href="{% url 'login' %}" class="logo">
            <img src="{% static 'classnest_Base/img/app_icon.png' %}" alt="Logo Icon" class="logo-icon">
            ClassNest
          </a> 
          
          <nav class="nav-links">
            <a class="login-btn-base" href="{% url 'login' %}"><i class="fa-solid fa-globe"></i>&nbsp;Login</a>
            <a class="register-btn-base" href="{% url 'register' %}"><i class="fa-solid fa-registered"></i>&nbsp;Register</a>
          </nav>
        </div>
      </header>
     

  <main>
    {% block content %}{% endblock %}
  </main>

  <!-- Footer -->
  <footer class="footer">
    <p>For any queries, problems, or requests, contact admin: <a href="mailto:classnestadmin@gmail.com">classnestadmin@gmail.com</a></p>
  </footer>

</body>
</html>
