{% extends "classnest_Base/login_register_base_generic.html" %}

{% block title %}Login {% endblock %}

{% block content %}
<div class="login-container">
    <div class="login-header">
        <h1><i class="fa-solid fa-book-open-reader"></i>&nbsp;ClassNest</h1>
        <p><i class="fa-solid fa-book-atlas"></i>&nbsp;Your Nest for Seamless Learning</p>
    </div>
    <div class="login-card">
        <div class="login-icon">
            <i class="icon-login"></i> 
        </div>
        <h2><i class="fa-solid fa-door-closed"></i>&nbsp;Welcome back</h2>
        <p>Sign in to your account</p>
        <form method="post" class="login-form">
            {% csrf_token %}
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Enter your username" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required>
            </div>
            <div class="input-group remember-me">
                <label>
                    <input type="checkbox" name="remember_me"> Remember Me
                </label>
            </div>
            <button type="submit" class="btn sign-in-btn"><i class="fa-solid fa-key"></i>&nbsp;Sign in</button>
        </form>        
        <div class="login-footer"><br>
            <p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>      
        </div>
    </div>
</div>
{% endblock %}
